.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo { 
        width: 134px;

        img {
            width: 100%;
        }
    }

    &__nav {
        width: max-content;
        background: none;
        box-shadow: none;
        height: inherit;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;

    &-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        transition: .5s all;

        &:hover {
            color: #D4C17F;
            background: none;
        }
    }
    }
}