.title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    margin: 0;
    padding: 0;
}